@import url("https://fonts.googleapis.com/css2?family=Cutive&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  height: 500vh;
  width: 100vw;
}
#section1 {

  height: 118vh;
  width: 102vw;
  position: relative;
  /* margin-bottom: 50px; */
}
nav {
  /* position:fixed; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px;
  /* margin-bo/ttom: 20px; */
}
nav h1 {
  font-size: 45px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
nav h4 {
  font-size: 20px;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
}
nav h1 i {
  rotate: 135deg;
  display: inline-block;
}
nav button {
  padding: 26px;
  font-size: 15px;
  border-radius: 5px;
  border: 2px solid black;
  background-color: transparent;
  font-family: "Cutive", serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
}
.part2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.center {
  padding: 30px;
  height: 63vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  /* background-color: brown; */
}
.center-part1 {
  height: 40vh;
  width: 42%;
  /* background-color: red; */

}
.center-part2 {
  /* background: purple; */
  height: 80vh;
  width: 50%;
}
.center-part1 h1 {
  line-height: 90px;
  font-size: 60px;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  overflow-y: hidden;
}
.center-part1 p {
  padding-top: 35px;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 40px;
  width: 95%;
}
.center-part1 button {
  background-color: black;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
  border-radius: 10px;
  padding: 22px 40px;
  font-size: 25px;
  border: none;
  margin-top: 30px;
  cursor: pointer;
}
.center-part2 img {
  height: 54%;
  right: 5;
  position: absolute;
}
.section1bottom {
  height: 23vh;
  /* padding-top: 200px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 120px;
  margin-bottom: 20px;
}
.section1bottom img {
  height: 60px;
  filter: grayscale(100%);
  margin-bottom: 20px;
}
#section2 {
  height: 140vh;
  padding-top: 120px;
}
#section2 .services {
  /* height: 20vh; */
  padding: 40px 72px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 200px;
}
.services h3 {
  background-color: #9ae975;
  padding: 10px 30px;
  font-size: 50px;
  border-radius: 10px;
  margin-right: 20px;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.services p {
  width: 40%;
  font-size: 20px;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.container {
  height: 95vh;
  /* width:90%; */
  padding: 40px 82px;
  display: flex;
  justify-content: space-evenly;
  /* border: 2px solid black; */
  flex-wrap: wrap;
}
.elem {
    box-sizing: border-box;
  flex-shrink: 0;
  height: 400px;
  width: 47%;
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: 0px 20px 0px black;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  padding:30px;
  font-weight:400;
  display: flex;
  /* gap: 130px; */
}
.elem-part1{
    /* background-color: pink; */
    height:100%;
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content:space-between;
    flex-direction: column;
}
.elem-part1 h4{
    display: flex;
    align-items:center;
    font-size: 30px;
    font-weight: 500;
    gap:20px
}
.elem-part1 h4 i{
    padding: 15px;
    background-color:black;
    color: white;
    border-radius: 50%;
}
.elem-part2 {
    /* background-color: cornflowerblue; */
    height:100%;
    width: 50%;
}
.elem-part1 h2{
    padding: 10px;
    border-radius: 10px;
    font-size: 42px;
    background-color: #9AE975;
    font-weight: 500;
    width: 80%;
}
.elem-part2 img{
    padding-left:30px;
    height:70%;
    /* right: 0; */
}
.black{
    background-color: black;
    color: white;
}
.black h2{
    background-color: white;
    color: black;
}
.black .elem-part1 i{
    background-color: white;
    color: black;
}
#section3 .between{
    height: 75vh;
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.article{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(226, 225, 225);
    height:30vh;
    width:85vw;
    padding: 23px;
    border-radius: 10px;
}
.text-content{
    width: 600px;
    text-align: left;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    padding: 100px 110px;
}
.image-content img{
    height:410px;
    padding-right: 70px;
}
.text-content h2{
    padding-bottom:10px;
}
.text-content p{
    padding-bottom:18px;
}
.text-content button{
    background-color: black;
    color: white;
    padding: 11px 10px;
    border-radius: 10px;
    cursor: pointer;
}
.Case-Study{
    /* height: 20vh; */
    padding: 40px 72px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 200px;
  }
  .Case-Study h3 {
    background-color: #9ae975;
    padding: 10px 30px;
    font-size: 50px;
    border-radius: 10px;
    margin-right: 20px;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .Case-Study p {
    width: 40%;
    font-size: 20px;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
.last-info{
  height: 38vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.specs{
  background-color:black;
  display: flex;
  justify-content:space-between;
  align-items:flex-start;
  height: 35vh;
  width: 1000px;
  gap: 20px;
  border-radius: 40px;
  padding: 40px 50px;
  flex-shrink: 0;
}
.spec1{
  display: flex;
  justify-content:space-evenly;
  align-items: flex-start;
  flex-direction: column;
  height: 250px;
  padding: 20px 30px;
  /* border: 2px solid black; */
  color: white;
  width:333px;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  border-right: 2px solid rgba(255, 255, 255,0.8);
  /* font-size: 40px;/ */
}
.spec1 h4{
  color: #9AE975;
  font-size:24px ;
}
.spec2{
  display: flex;
  justify-content:space-evenly;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px 30px;
  height: 250px;
  /* border: 2px solid black; */
  color: white;
  border-right: 2px solid rgba(255, 255, 255, 0.8);
  width:333px;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  /* font-size: 40px; */
}
.spec2 h4{
  color: #9AE975;
  font-size:24px ;
}
.spec3{
  display: flex;
  justify-content:space-evenly;
  align-items: flex-start;
  flex-direction: column;
  padding: 33px 30px;
  height: 250px;
  color: white;
  width:333px;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  /* font-size: 40px; */
}
.spec3 h4{
  font-size:24px;
  color: #9AE975;
}
@media (max-width:500px){
  *{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
  body {
    height: 300vh;
    width: 100vw;
  }
  #section1{
    height:47vh;
    width: 102vw;
    overflow-y: hidden;
    /* position: relative; */
    /* margin-bottom: 50px; */
  }
  nav {
    width: 100vw;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 12px 7px;
    /* margin-bo/ttom: 20px; */
  }
  nav h1{
    left:0;
    font-size:13px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding-right: 5px;
  }
  nav h4 {
    font-size:8px;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
  }
  nav h1 i {
    rotate: 135deg;
    display: inline-block;
  }
  nav button {
    padding: 8px;
    font-size: 7px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: transparent;
    font-family: "Cutive", serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
  }
  .part2 {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .center {
    overflow-y: hidden;
    height: 24vh;
    width: 88vw;
    display: flex;
    justify-content: space-evenly;
  }
  .center-part1 {
    overflow-y: hidden;
    height: 40vh;
    width: 45%;
  
  }
  .center-part2 {
    height: 40vh;
    width: 40vw;
  }
  .center-part1 h1 {
    line-height: 20px;
    font-size: 18px;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    overflow-y: hidden;
  }
  .center-part1 p {
    padding-top: 9px;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
    width: 95%;
  }
  .center-part1 button {
    background-color: black;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
    border-radius:10px;
    padding: 12px 10px;
    font-size:9px;
    border: none;
    cursor: pointer;
  }
  .center-part2 img {
    height: 40%;
    right: 5;
    position: absolute;
  }
  .section1bottom {
    height: 10vh;
    width: 94vw;
    /* padding-top: 200px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
  }
  .section1bottom img {
    height:19px;
    gap: 20px;
    filter: grayscale(100%);
  }
  #section2 {
    height: 120vh;
    width: 100vw;
    /* padding-top: 10px; */
    overflow-y: hidden;
  }
  #section2 .services {
    height: 5vh;
    padding: 11px 11px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .services h3 {
    background-color: #9ae975;
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 10px;
    margin-right: 20px;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .services p {
    width: 60%;
    font-size: 12px;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .container {
    height: 96vh;
    /* width:90%; */
    padding: 20px 85px;
    display: flex;
    justify-content: space-evenly;
    /* border: 2px solid black; */
    flex-wrap: wrap;
  }
  .elem {
    overflow-y: hidden;
    box-sizing: border-box;
    flex-shrink: 0;
    height: 170px;
    width: 110%;
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 0px 20px 0px black;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    padding:20px;
    font-weight:400;
    display: flex;
    /* gap: 130px; */
  }
  .elem-part1{
    overflow-y: hidden;
      height:100%;
      width: 50%;
      display: flex;
      align-items: flex-start;
      justify-content:space-between;
      flex-direction: column;
  }
  .elem-part1 h4{
      display: flex;
      align-items:center;
      font-size: 13px;
      font-weight: 500;
      gap:20px
  }
  .elem-part1 h4 i{
      padding: 7px;
      background-color:black;
      color: white;
      border-radius: 50%;
  }
  .elem-part2 {
      /* background-color: cornflowerblue; */
      height:100%;
      width: 50%;
  }
  .elem-part1 h2{
      padding: 10px;
      border-radius: 10px;
      font-size: 16px;
      background-color: #9AE975;
      font-weight: 500;
      width: 68%;
  }
  .elem-part2 img{
      padding-left:30px;
      height:70%;
      /* right: 0; */
  }
  .black{
      background-color: black;
      color: white;
  }
  .black h2{
      background-color: white;
      color: black;
  }
  .black .elem-part1 i{
      background-color: white;
      color: black;
  }
  #section3 .between{
      height: 35vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .article{
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color:rgb(226, 225, 225);
      height:30vh;
      width:90vw;
      padding: 11px;
      border-radius: 10px;
  }
  .text-content{
      width:200px;
      text-align: left;
      font-family: "Space Grotesk", sans-serif;
      font-optical-sizing: auto;
      font-weight:400;
      padding: 15px 10px;
  }
  .image-content img{
      height:190px;
      padding-right: 10px;
  }
  .text-content h2{
      padding-bottom:10px;
  }
  .text-content p{
      padding-bottom:18px;
  }
  .text-content button{
      background-color: black;
      color: white;
      padding: 11px 10px;
      border-radius: 10px;
      cursor: pointer;
  }
  .Case-Study{
    /* background-color: red; */
      height: 8vh;
      padding: 20px 32px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-bottom: 200px;
    }
    .Case-Study h3 {
      background-color: #9ae975;
      padding: 10px 12px;
      font-size: 20px;
      border-radius: 10px;
      margin-right: 10px;
      font-family: "Space Grotesk", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
    }
    .Case-Study p {
      width: 80%;
      /* background-color: #9ae975; */
      font-size: 15px;
      font-family: "Space Grotesk", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
    }
    .last-info{
      height: 38vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .specs{
      background-color:black;
      display: flex;
      justify-content:space-between;
      align-items:flex-start;
      height:30vh;
      width:380px;
      gap: 20px;
      border-radius: 40px;
      padding: 15px 20px;
      flex-shrink: 0;
      overflow-y: hidden;
    }
    .spec1{
      display: flex;
      justify-content:space-evenly;
      align-items: flex-start;
      flex-direction: column;
      padding: 10px 20px;
      height: 250px;
      /* border: 2px solid black; */
      color: white;
      border-right: 2px solid rgba(255, 255, 255, 0.8);
      width:450px;
      font-family: "Space Grotesk", sans-serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
      font-size:9px;
    }
    .spec1 h4{
      color: #9AE975;
      font-size:13px ;
    }
    .spec2{
      display: flex;
      justify-content:space-evenly;
      align-items: flex-start;
      flex-direction: column;
      padding: 10px 20px;
      height: 250px;
      /* border: 2px solid black; */
      color: white;
      border-right: 2px solid rgba(255, 255, 255, 0.8);
      width:450px;
      font-family: "Space Grotesk", sans-serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
      font-size:9px;
    }
    .spec2 h4{
      color: #9AE975;
      font-size:13px ;
    }
    .spec3{
      display: flex;
      justify-content:space-evenly;
      align-items: flex-start;
      flex-direction: column;
      padding: 21px 18px;
      height: 250px;
      color: white;
      width:450px;
      font-family: "Space Grotesk", sans-serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
      font-size: 9px;
    }
    .spec3 h4{
      font-size:13px;
      color: #9AE975;
    }
}